/* adds style the html body and map div objects */
html, body {width:100%; height:100%; padding: 0; margin: 0;}
#WaterMap {
	width: 100%; 
	height:100%; 
	background: teal;
}

/* CSS style formatting for the labels bound to each marker*/
.ourLabel {
	position: absolute;
	display: inline-block;
	font-size: 13px;
	background-color: rgba(255,255,255,0.85);
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 3px;
	text-indent: -4px;
}

/* CSS formatting for the popup box that appears when markers are clicked */
.leaflet-popup-content-wrapper {
	background-color: #F6F6F6;
	text-align: left;
	width: 203px;
}

/* CSS formatting for the tip of the popup box */
.leaflet-popup-tip {
	background: #F6F6F6;
	box-shadow: 0 0 0 rgba(0,0,0,0.4);
}


.leaflet-popup-tip-container {
	position: relative;
	right: 43%;
	bottom: 6px;
}

/* CSS formatting for the Caminos de Agua logo in the corner */
img.caminos_logo {
	display: inline-block;
	z-index: 3;
	position: absolute;
	left: 15px;
	top: 60px;
	width: 120px;
	height: 120px;
	opacity: 1;
}

div.cartodb-legend {
	width: 290px;	
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-size: 14px;
	
}

.legend-title {
	font-size: 14px;
	
}
.bullet {
	font-size: 11px;
}

/* formatting for the info panel */
#info_panel {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 30%;
	background-color: rgba(50, 50, 50, 0.8);
	opacity: 0.8;
	display: none;
	overflow-y: scroll;
	overflow-x: hidden;
	height: auto;
}
/* formatting for the x-button to close the info panel */
#x-butt{
	position: fixed;
	top: 5px;
	right: 25px;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.info_text {
	margin: 5px;
	padding: 5px;
	border: 2px solid #eeeeee;
	border-radius: 6px;
	color: #eeeeee;
}

#project_name{
	margin-top:35px;
}
#docs{
	margin-bottom:25px;
}